p {

  color: #003366;
  font-family: Fantasy;
  font-size: 40px;
  text-align: center;
  
  }
  
  img {
  
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 10px solid #ffffff;
    
    }
    
    p:nth-child(3){
      
      color:#003366;
      font-family: Tahoma;
      font-size: 20px;
      
    }
    
    div{
      
      text-align: center;
    }

a:hover{
  
    color:green;
}

div:nth-child(4){
  height: 50px;
  width:50px;
  border: 10px solid white;
  text-align: center;
  border-radius: 50%;
}
