p {

  color:violet;
  font-family:cursive;
  font-size: 20px;
  text-align: center;
  
  }
  
  img {
  
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 10 px dashed lightblue;
    position: center;
    
    }
